In [1]:
a = 10
print(a)

10

In [3]:
a = 10               #integer or number
b = 10.5             #float
c = "Hello world"    #string
d = True             #boolean

print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

10
10.5
Hello world
True
10 10.5 Hello world True

In [4]:
#1aa = we can not use number and special characters at starting of variables
a_ = 10 # we can not use special character at starting  and between the variable
hello = 10 
hello world = 10

In [5]:
#type()
print (type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
a = 'hello world'
b = "hello world"
c = '''hello world'''

In [8]:
a = "123@ apple'"
print(a)

123@ apple'

In [9]:
a = '''12$% apple "'''
print(a)

12$% apple "

In [15]:
a = True
b = False
print(a)
print(b)

True
False

In [16]:
a = "True"
print(a)

True

In [17]:
a = "10"
print(a)

10

In [18]:
# operatrs
# / * + - % **
# ** = power
# // = flo0d divison

In [19]:
a = 10 
b = 20
c = 10 + 20 
print(c)

30

In [20]:
a = 10 
b = 20
c = 10 - 20 
print(c)

-10

In [22]:
a = 10 
b = 3
c = 10 * 3
print(c)

30

In [23]:
a = 10 
b = 3
c = 10 / 3
print(c)

3.3333333333333335

In [24]:
a = 10 
b = 3
c = 10 // 3 #flood devision
print(c)

3

In [25]:
a = 10 
b = 3
c = 10 ** 3  #power
print(c)

1000

In [26]:
a = 10 
b = 3
c = 10 % 3  #remender finder
print(c)

1

In [7]:
pwd #file founder

'C:\\Users\\HP\\Python-class'

In [1]:
#float
#+ - * / ** // %

In [1]:
#string
a = "Hello"
b = "world"
c = a + b
print(c)

Helloworld

In [3]:
a = "Hello world\n"
print(a*2)

Hello world
Hello world

In [6]:
name = "Amit"
info = "Hello world i am " + name
info

'Hello world i am Amit'

In [10]:
#bool
a = True
b = False
c = a + b
print(c)

1

In [11]:
a = True
b = False
c = a * b
print(c)

0

In [18]:
# complex no ( + - * / )  j = (-1)**(1/2)
a = 2 + 3j
type(a)

complex

In [20]:
a = "10"
b = "20"
c = a + b
c

'1020'

# type casting

In [21]:
# int float str bool

In [22]:
#str to int 
a = "10"
b = int(a)
b

10

In [23]:
# str to float
a = "10.5"
b = float(a)
b

10.5

In [24]:
a = "10.5"
b = str(a)
b

'10.5'

In [26]:
#int to str
a = 10 
str(a)

'10'

In [27]:
# int to bool
a = 1  
bool(a)

True

In [28]:
a = 0
bool(a)

False

In [30]:
# str to bool
a = "hello"    
bool(a)

True

In [31]:
a = ""
bool(a)

False

In [32]:
# basic to operation

In [34]:
a = input()
print(a)

hello world
hello world

In [35]:
a = input("Enter a  = ")
print(a)

Enter a  = hello
hello

In [36]:
a = input("Enter a  = ")
print(a)
type(a)

Enter a  = 10.5
10.5

str

In [2]:
a = int(input("enter a = "))
print(a)

enter a = 10
10

In [1]:
a = float(input("Enter a  = "))
print(a)

Enter a  = 10
10.0

In [5]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter adddress = ")

info = "HEllo world I am " + name + " i am from " + add + " I am " + str(age)
info

Enter name = Amit
Enter age = 18
Enter adddress = mirchaiya

'HEllo world I am Amit  i am from mirchaiya I am 18'

In [9]:
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("the value of i =",i)

Enter p = 1000
Enter t = 2.5
Enter r = 10
the value of i = 250.0