In [1]:
import datetime as dt

x = dt.datetime.now()
print(x)

2023-06-19 08:25:20.353245

In [2]:
x = dt.datetime.now()
print(x.year)
print(x.month)
print(x.day)
print(x.hour)

2023
6
19
8

In [4]:
print(x.strftime("%A"))
print(x.strftime("%a"))
print(x.strftime("%B"))
print(x.strftime("%b"))
print(x.strftime("%C"))
print(x.strftime("%c"))
print(x.strftime("%D"))
print(x.strftime("%d"))

Monday
Mon
June
Jun
20
Mon Jun 19 08:27:46 2023
06/19/23
19

In [5]:
x = dt.datetime.now()
name = input("Enter name = ")
y = dt.datetime.now()

print(y-x)

Enter name = amit
0:00:01.737170

In [8]:
x = dt.datetime.now().second
name = input("Enter name = ")
y = dt.datetime.now().second

print(y-x)

Enter name = amit
1

In [13]:
x = dt.datetime.now().second
name = input("Enter otp code = ")
y = dt.datetime.now().second
if y-x < 30:
    print("Please collect you case ")
else:
    print(f"You took {y-x} seconts","Your time is out")

Enter otp code = 3344
Please collect you case

# os packges

In [14]:
import os
os.listdir()

['.ipynb_checkpoints',
 'basic.ipynb',
 'bill-system.csv',
 'bill-system.txt',
 'bill-systen.csv',
 'bonus.ipynb',
 'books.csv',
 'collection.ipynb',
 'data.csv',
 'data.txt',
 'Dicitionary.ipynb',
 'File.ipynb',
 'Function.ipynb',
 'if,else.ipynb',
 'loop.ipynb',
 'multilevel inheritance.ipynb',
 'mysql.ipynb',
 'new_data.csv',
 'oops.ipynb',
 'opp1.ipynb',
 'pandas.ipynb',
 'String.ipynb',
 'tuples and set.ipynb']

In [19]:
os.mkdir('newfolder')   #create folder

In [20]:
os.chdir('newfolder')

In [21]:
pwd

'C:\\Users\\HP\\Python-class\\newfolder'

In [22]:
cd ..

C:\Users\HP\Python-class

In [23]:
os.rename('newfolder', 'NEWFOLDER') #rename

In [24]:
os.rmdir('NEWFOLDER') #DELETE

# Comprehensions: list, dictionary

In [27]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
l = [input("Enter valus = ") for i in range(5)]
l

Enter valus = ram
Enter valus = hariu
Enter valus = geta
Enter valus = rita
Enter valus = suman

['ram', 'hariu ', 'geta', 'rita', 'suman']

In [30]:
l = ["Apple","Ball","cat","Dog"]
data = [i.lower() for i in l]
data

['apple', 'ball', 'cat', 'dog']

In [33]:
# in dict 
l = ["Apple","Ball","cat","Dog"]
d = {i:i.lower() for i in l} #cconvert into lower latter
d

{'Apple': 'apple', 'Ball': 'ball', 'cat': 'cat', 'Dog': 'dog'}

In [34]:
list(d.values()) #valuess

['apple', 'ball', 'cat', 'dog']

In [35]:
list(d.items())

[('Apple', 'apple'), ('Ball', 'ball'), ('cat', 'cat'), ('Dog', 'dog')]

In [2]:
d = {input("Enter name = "):input("Enter number = ") for i in range(5)}
d

Enter name = amit
Enter number = 3522
Enter name = egsd
Enter number = 63446
Enter name = dfsgs
Enter number = 643
Enter name = fhdgher
Enter number = 633
Enter name = gfdgd
Enter number = 64637

{'amit': '3522',
 'egsd': '63446',
 'dfsgs': '643',
 'fhdgher': '633',
 'gfdgd': '64637'}