In [1]:
# python collection
# list
# tuple
# dict
# set

In [2]:
# list
# Indexing
# multiple data
# Duplicate
# mutable

In [4]:
l = []
l = list()

In [5]:
a = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [7]:
a = ["Apple","ball","cat","dog","fish"]
print(a[1])
print(a[0:4])
print(a[0:5:2])

ball
['Apple', 'ball', 'cat', 'dog']
['Apple', 'cat', 'fish']

In [8]:
a = ["Apple","ball","cat","dog","fish","apple"]
a

['Apple', 'ball', 'cat', 'dog', 'fish', 'apple']

In [10]:
a = [1,2,3]   #add
b = [2]
c = a+b
print(c)

[1, 2, 3, 2]

In [11]:
a = [1,2,3]   #multi
b = 2
print(a*b)

[1, 2, 3, 1, 2, 3]

In [2]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l = l + [x]
print(l)

Enter n = 5
Enter x = 3242
Enter x = 23
Enter x = 42
Enter x = 2432
Enter x = 432
[3242, 23, 42, 2432, 432]

In [2]:
l = [3242, 23, 42, 2432, 432]
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum = ",sum(l))

The max value =  3242
The min value =  23
The sum =  6171

In [3]:
l.sort()
print(l)

[23, 42, 432, 2432, 3242]

In [4]:
l . reverse()
print(l)

[3242, 2432, 432, 42, 23]

In [5]:
# # # add , value
# # append() insert() extend()

# delete values
# det remove() pop()

In [5]:
a = ["Apple","ball","cat","dog","fish","apple"]
for i in range(len(a)):
    print(a[i])

Apple
ball
cat
dog
fish
apple

In [4]:
a = ["ram",'shyam','hari','sita','gita',"nabin","ramesh"]
if "ram" in a:
    print("Yes")
    print(a.count("ram"))
else:
    print("no")

Yes
1

In [5]:
#WAP to search any value in a list upper case

In [7]:
# append()
a = [1,2.3,4,5]
a.append("apple")
a.append("ball")
a

[1, 2.3, 4, 5, 'apple', 'ball']

In [10]:
#insert
a = ["apple","ball","car","bike","h2r"]
a.insert(2,"can")
a

['apple', 'ball', 'can', 'car', 'bike', 'h2r']

In [11]:
# extend()
a = ["apple","ball","car","bike","h2r"]
b = [1,2,3,4]
a.extend(b)
a

['apple', 'ball', 'car', 'bike', 'h2r', 1, 2, 3, 4]

In [12]:
# update
a = ["apple","ball","car","bike","h2r"]
a[0]

'apple'

In [14]:
# update
a = ["apple","ball","car","bike","h2r"]
a[0] = "ant"  #rename
a

['ant', 'ball', 'car', 'bike', 'h2r']

In [18]:
# update
a = ["apple","ball","car","bike","h2r"]
a[0:2] = ["APPPLE","BALL"]
a

['APPPLE', 'BALL', 'car', 'bike', 'h2r']

In [1]:
#delete
#del remove() pop()

In [4]:
a = ['apple','ball','cat','fish','egg']
del a[0]
print(a)

['ball', 'cat', 'fish', 'egg']

In [5]:
a = ['apple','ball','cat','fish','egg']
del a[0:3]
a

['fish', 'egg']

In [7]:
a = ['apple','ball','cat','fish','egg']
a.remove('cat')
print(a)

['apple', 'ball', 'fish', 'egg']

In [9]:
a = ['apple','ball','cat','fish','egg',"apple"]
c = a.count('apple')
for i in range(c):
	a.remove('apple')
print(a)

['ball', 'cat', 'fish', 'egg']

In [13]:
a = ['apple','ball','cat','fish','egg',"apple"]
a.remove('apple')
a.remove('apple')
print(a)

['ball', 'cat', 'fish', 'egg']

In [16]:
a = ['apple','ball','cat','fish','egg',"apple"]
a.pop(0)

'apple'

In [17]:
a = ['apple','ball','cat','fish','egg',"apple"]
a.pop(0)
a

['ball', 'cat', 'fish', 'egg', 'apple']

In [19]:
a = ['apple','ball','cat','fish','egg',"apple"]
b = a.pop(0)
print(a)
print(b)

['ball', 'cat', 'fish', 'egg', 'apple']
apple

In [27]:
#list inside list
a = [[1,2,3,],
     [4,5,6],
     [7,8,9]]

print(a[0])
print(a[1][2])

In [ ]:
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya']
     ['suman',432,'lahan']]

In [33]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age"))
    add = input("enter add = ")
    info = [name,age,add]
    a.append(info)
print(a)

Enter n = 1
Enter name = amit
Enter age18
enter add = mirchaiya
[['amit', 18, 'mirchaiya']]

In [6]:
#search
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]

In [2]:
for i in a:
    print(i)

['ram', 45, 'kathmandu']
['hari', 56, 'mirchaiya']
['suman', 432, 'lahan']
['ram', 234, 'pipra']

In [7]:
#search
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]

In [8]:
for i in a:
    print(i[0])

ram
hari
suman
ram

In [12]:
name = input("Enter name = ")

for i in a:
    if i[0] == name:
        print(i)

Enter name = ram
['ram', 45, 'kathmandu']
['ram', 234, 'pipra']

In [14]:
#search
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]
name = input("Enter name = ")

for i in a:
    if i[0].lower() == name.lower():
        print(i)

Enter name = Ram
['ram', 45, 'kathmandu']
['ram', 234, 'pipra']

In [17]:
c = 0
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]
name = input("Enter name = ")

for i in a:
    if i[0].lower() == name.lower():
        print(i)
        c = c + 1
print(f"there is {c} record")

Enter name = ram
['ram', 45, 'kathmandu']
['ram', 234, 'pipra']
there is 2 record

In [6]:
#update
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]
a[0][0] = "Ram ram ram"
a

[['Ram ram ram', 45, 'kathmandu'],
 ['hari', 56, 'mirchaiya'],
 ['suman', 432, 'lahan'],
 ['ram', 234, 'pipra']]

In [13]:
a = [['ram',45,'kathmandu'],
     ['hari',56,'mirchaiya'],
     ['suman',432,'lahan'],
     ['ram',234,'pipra']]

In [15]:
#delete
del a[0]
print(a)

[['suman', 432, 'lahan'], ['ram', 234, 'pipra']]

In [ ]:
#wap to create a matrix having n no row and colums