In [4]:
# dict
# -indexing
# -multiple and duplicate data
# -ordered
# -mutable

In [ ]:
d = {}
d = dict

In [5]:
# d = {<key>:<value>,<key>:<value>}

In [13]:
d = {'a':'apple','b':'ball','c':'cat','d':'dog'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [16]:
d = {'a':'apple','b':'ball','c':'cat','d':'dog'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [17]:
print(d['d'])

dog

In [18]:
d = {'a':'apple','b':'ball','c':'cat','d':'dog'}
len(d)

4

In [19]:
d = {'a':'apple','b':'ball','c':'cat','d':'dog','a':'Apple'}
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [20]:
d = {'a':'apple','b':'ball','c':'cat','d':'dog','a':'apple'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [21]:
# NO + *

In [25]:
d = {'a':'apple','b':'ball','c':'cat',}
e  = {'d':'Dog'}
d.update(e)
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'Dog'}

# #Creating decitionary

In [28]:
# Creating decitionary
d = {}
d['a'] = "Apple"
d['b'] = "ball"
d['c'] = "cat"
d['d'] = "dog"
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

In [1]:
info = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter number = ")
    info[name] = phone
    
print(info)

enter n = 2
Enter name = amit
Enter number = 3525
Enter name = namsv
Enter number = 354
{'amit': '3525', 'namsv': '354'}

In [2]:
d = {'amit': '3525', 'namsv': '354'}     #latter
for i in d:
    print(i)

amit
namsv

In [5]:
d = {'amit': '3525', 'namsv': '354'}     #number
for i in d.values():
    print(i)

3525
354

In [6]:
d = {'amit': '3525', 'namsv': '354'}     #number
for i in d.items():
    print(i)

('amit', '3525')
('namsv', '354')

In [8]:
d = [['Ram',9876543],
    ['hari',9876789]]
dict(d)

{'Ram': 9876543, 'hari': 9876789}

In [11]:
# update
d = {'Ram': 9876543, 'hari': 9876789}
d['Ram'] = 87678909876
d

{'Ram': 87678909876, 'hari': 9876789}

In [12]:
# delete
d = {'Ram': 9876543, 'hari': 9876789}
del d['Ram']
d

{'hari': 9876789}

In [14]:
# delete
d = {'Ram': 9876543, 'hari': 9876789}
e = d.pop('Ram')
print(d)
print(e)

{'hari': 9876789}
9876543

In [15]:
# list inside dict
d = {'Ram': [9876543,2435434], 'hari': [9876789,2435432]}
d

{'Ram': [9876543, 2435434], 'hari': [9876789, 2435432]}

In [26]:
info = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc number = ")
    ncell_phone = input("Enter ncell number = ")
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

enter n = 2
Enter name = amit
Enter ntc number = 9774532
Enter ncell number = 3485745
Enter name = hari
Enter ntc number = 978
Enter ncell number = 644636
{'amit': ['9774532', '3485745'], 'hari': ['978', '644636']}

In [27]:
info['amit'][0]

'9774532'

In [38]:
d = {'name' :['ram','hari','shyam'],
     'age':[98,42,42],
     'add':['ktm','lahan','mirchaiya']}

In [1]:
d = {'name':[],'age':[],'add':[]}
n = int(input("enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
    
d

enter n = 2
Enter name = ram
Enter age = 19
Enter add = mirchaiya
Enter name = hari
Enter age = 14
Enter add = ktm

{'name': ['ram', 'hari'], 'age': ['19', '14'], 'add': ['mirchaiya', 'ktm']}

In [4]:
c = 0
for i in d['name']:
    if i == "ram":
        print(c)
    c = c+1

0

In [5]:
c = 0
for i in d['name']:
    if i == "ram":
        print(d['name'][0])
        print(d['age'][0])
        print(d['add'][0])
        
    c = c+1

ram
19
mirchaiya