In [1]:
# file

# file = open('file_name>,<modes>')
# file.close()

# with open('file_name>,<modes>') as file:
#     <operations>
    
    
# Mode
# create ->x
# read ->
# wirte ->w
# read -> r
# write ->w
# append ->a

In [5]:
try:     #yedi error aaauxa jasto lagXA  vani hami try tag use garxam
    file = open('data.txt','x')  # x vane ko create garnu ko lagii ho
    file.close()
except:    #error aayesi except ma lekhey ko aauxa
    print("The file is already there.")

The file is already there.

In [6]:
#data.txt file ko open voo
file = open('data.txt','r')  #r vane ko read garnu ko lagi
x = file.read()
print(x)
file.close()

1.Hello world
2.Hello world
3.Hello world
4.Hello world
5.Hello world
6.Hello world

In [7]:
y = x.split('\n')
y

['1.Hello world',
 '2.Hello world',
 '3.Hello world',
 '4.Hello world',
 '5.Hello world',
 '6.Hello world']

In [8]:
i = int(input("ENter i = "))
y[i-1]

ENter i = 3

'3.Hello world'

In [10]:
file = open('data.txt','w')   # data.txt file ma vko change garyo 
file.write('Hello world')
file.close()

In [11]:
# # WAP to create a billing system  (Product,price, qty,total,all_total)

# bill = ""
# all_total = 0
# n = int(input("ENter n = "))
# for i in range(n):
#     name = input("Enter namne = ")
#     price = int(input("Enter price = "))
#     qty = int(input("Enter Qty = "))
#     total = price * qty
#     data = name +" " + str(price) + " " + str(total) + "\n"
#     bill = bill + data 
#     all_total = all_total + total
# print(bill)
# print("all_total:",all_total)  #useing loop

In [1]:
# WAP to create a billing system  (Product,price, qty,total,all_total)
#useing file
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")            # WE CAN USE CURLY BRACKET TO AVOID + AND IT IS MORE EASY METHOD.
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price *qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
   
print(bill)

file = open('bill-system.txt','w')    #useing wirte mode
file.write(bill)
file.close()

Enter n = 3
Enter name = masu
Enter price = 435
Enter qty = 2
Enter name = apple
Enter price = 43
Enter qty = 4
Enter name = banana
Enter price = 255
Enter qty = 3
masu 435 2 870
apple 43 4 172
banana 255 3 765

In [2]:
# WAP to create a billing system  (Product,price, qty,total,all_total)
#useing file
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")            # WE CAN USE CURLY BRACKET TO AVOID + AND IT IS MORE EASY METHOD.
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price *qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
   
print(bill)


file = open('bill-system.txt','a')  #useing append mode
file.write(bill)
file.close()

Enter n = 2
Enter name = fish
Enter price = 4555
Enter qty = 3
Enter name = ladu
Enter price = 3
Enter qty = 2
fish 4555 3 13665
ladu 3 2 6

In [3]:
file = open('bill-system.txt','r')
x = file.read()
print(x)
file.close()

masu 435 2 870
apple 43 4 172
banana 255 3 765
fish 4555 3 13665
ladu 3 2 6

In [4]:
y = x.split('\n')[0:-1]
y

['masu 435 2 870',
 'apple 43 4 172',
 'banana 255 3 765',
 'fish 4555 3 13665',
 'ladu 3 2 6']

In [5]:
bill = []
for i in y:
    bill.append(i.split())
bill

[['masu', '435', '2', '870'],
 ['apple', '43', '4', '172'],
 ['banana', '255', '3', '765'],
 ['fish', '4555', '3', '13665'],
 ['ladu', '3', '2', '6']]

In [6]:
s = 0
for i in bill:
    s = s+int(i[-1])
    
    
s

15478

In [5]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")            # WE CAN USE CURLY BRACKET TO AVOID + AND IT IS MORE EASY METHOD.
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price *qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data
   
print(bill)

file = open('bill-system.csv' , 'w')
file.write(bill)
file.close()

Enter n = 3
Enter name = Apple
Enter price = 350
Enter qty = 3
Enter name = banana
Enter price = 300
Enter qty = 7
Enter name = masu
Enter price = 400
Enter qty = 20
Apple,350,3,1050
banana,300,7,2100
masu,400,20,8000

In [6]:
bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")            # WE CAN USE CURLY BRACKET TO AVOID + AND IT IS MORE EASY METHOD.
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price *qty
    data = f"{name},{price},{qty},{total}\n"
    bill = bill + data
   
print(bill)

file = open('bill-system.csv' , 'w')
file.write('name,price,quantity,total\n')
file.write(bill)
file.close()

Enter n = 2
Enter name = masu
Enter price = 500
Enter qty = 2
Enter name = fish
Enter price = 100
Enter qty = 4
masu,500,2,1000
fish,100,4,400

In [7]:
import pandas as pd
df = pd.read_csv('bill-system.csv')
df

   name  price  quantity  total
0  masu    500         2   1000
1  fish    100         4    400

In [9]:
pwd

'C:\\Users\\HP\\Python-class'