In [1]:
# loop
# for loop
# while loop

In [2]:
# for loop

In [4]:
# range(5) # 0,1,2,3,4   for(i = 0; i<5; i++)
# range(1,5) # 1,2,3,4    for(i = 1; i<5; i++)
# range(1,10,2) # 1,3,5,7,9   for(i = 1; i<10; i+2)

In [5]:
for i in range(5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [15]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [14]:
for i in range(1,20,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world
11 Hello world
13 Hello world
15 Hello world
17 Hello world
19 Hello world

In [13]:
for i in range(5,1,-1):
    print(i,"hello world")

5 hello world
4 hello world
3 hello world
2 hello world

In [2]:
n = int(input("Enter n ="))
for i in range(1,11):
    print(i*n)

Enter n =3
3
6
9
12
15
18
21
24
27
30

In [26]:
# 5 * 1 = 5
n = int(input("Enter n ="))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter n =3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [6]:
for i in range(2):
    x = int(input("Enter x = "))

Enter x = 100
Enter x = 200

In [7]:
s = 0   # int
for i in range(5):
    x = int(input("Enter x ="))
    s = s+x
    
print(s)

Enter x =1000
Enter x =2233
Enter x =423
Enter x =452241
Enter x =213412
669309

In [8]:
s = 0
for i in range(5):
    x = int(input("Enter x ="))
    s = s+x
    
    print(s)

Enter x =24312
24312
Enter x =4211
28523
Enter x =41
28564
Enter x =34
28598
Enter x =25323
53921

In [4]:
s = 0
n = int(input("Enter n ="))
for i in range(5):
    x = int(input("Enter x ="))
    s = s+x
    
    print("NOw your total balacne = ",s)

Enter n =5
Enter x =32523
NOw your total balacne =  32523
Enter x =5322
NOw your total balacne =  37845
Enter x =341
NOw your total balacne =  38186
Enter x =432
NOw your total balacne =  38618
Enter x =5325
NOw your total balacne =  43943

In [5]:
s = ""  #string
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter  = ")
    s = s+ x + "\n"
    print(s)

Enter n = 3
Enter  = amit
amit

Enter  = suraj
amit
suraj

Enter  = nabin
amit
suraj
nabin

In [11]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+ Name + phone + "\n"
    
    print(s)

Enter n = 2
Enter name = ram
Enter phone = 2455
ram2455

Enter name = sayam
Enter phone = 35253
ram2455
sayam35253

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+ Name +"--" + phone + "\n"
    
    print(s)

Enter n = 2
Enter name = ram
Enter phone = 353252v
ram--353252v

Enter name = shiyem
Enter phone = 2435246
ram--353252v
shiyem--2435246

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    Name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+ "Name = " + Name + " , " +"Phone =" + phone + "\n"
    
    print(s)

Enter n = 2
Enter name = AMit
Enter phone = 9813141241
Name = AMit , Phone =9813141241

Enter name = Hari
Enter phone = 98422352
Name = AMit , Phone =9813141241
Name = Hari , Phone =98422352

In [1]:
# WAP to find factorial      # 5! = 1*2*3*4*5
# WAP to add number from  1 to 100
# WAP to  make Defferent patterns line triange
# WAP to create a billing system  (Product,price, qty,total,all-total)
# WAP to detect if the given no is prime or composite

In [2]:
# string

In [3]:
a = "python"
for i in a:
    print(i,"Hello world")

p Hello world
y Hello world
t Hello world
h Hello world
o Hello world
n Hello world

In [3]:
a = "Hellow world i am python"
for i in a:
    print(i,end = "")

Hellow world i am python

In [9]:
a = "Hellow world i am python."
for i in a:
    if i != ".":  #remove
        print(i,end = "")

Hellow world i am python

In [11]:
a = "Hellow world i am python. i am from kathmandu NEpal ."
for i in a:
    if i != ".":  #remove
        print(i,end = "")

Hellow world i am python i am from kathmandu NEpal

# While loop

In [13]:
# While loop
# while <condition>:
#     <condition>

In [15]:
a = 0             #for i in range(5)
while a<5:
    print(a)
    a = a+1

0
1
2
3
4

In [17]:
a = 1           #for i in range(5)
while a<5:
    print(a,"Hello world")
    a = a+1

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [18]:
a = 1           #for i in range(1,5,2)
while a<5:
    print(a,"Hello world")
    a = a+2

1 Hello world
3 Hello world

In [19]:
a = 0        #for i in range(1,2)
while a<=2:
    print(a,"Hello world")
    a = a+0.5

0 Hello world
0.5 Hello world
1.0 Hello world
1.5 Hello world
2.0 Hello world

In [23]:
i = 1
n = int(input("Enter n ="))
while i<=10:
    print(n,"*",i,"=",i*n)
    i = i+1

Enter n =35
35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
35 * 10 = 350

In [3]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x ="))
    s = s+x
    i += 1 # or i = i+1
    print("NOw your total balacne = ",s)

Enter n = 5
Enter x =34
NOw your total balacne =  34
Enter x =53
NOw your total balacne =  87
Enter x =463
NOw your total balacne =  550
Enter x =643
NOw your total balacne =  1193
Enter x =346
NOw your total balacne =  1539

In [1]:
s = ""
i = 0
n = int(input("Enter N = "))
while i<n:
    name = input("Enter you name = ")
    Phone = input("ENter your phone number = ")
    s = s+ name +"=" + str(Phone) + "\n"
    i = i+1
    print(s)

Enter N = 1
Enter you name = amit
ENter your phone number = 9832421
amit=9832421

In [ ]:
i = 1
fac = 1
n=int(input("Enter a number = "))
fac=1
for i in range(n,1):
    fac=fac*i
print("factorial =",fac)

In [5]:
# WAP to  make Defferent patterns line triange
n = 5
for i in range(n):
    print(i * "0")

Enter the number of rows for the triangle pattern: 4
0
00
000

In [5]:
n = 5
for i in range(n,0,-1):
    print(i * "0")

00000
0000
000
00
0

In [6]:
n = 5
for i in range(n):
    print(' ' * (n - i) + '1' * (2 * i - 1))

    1
   111
  11111
 1111111

In [1]:
# control statements
# continue
# break
# pass

In [3]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [9]:
#continue
for i in range(10):
    if i == 5:
        continue
    print(i, end =" ")

0 1 2 3 4 6 7 8 9

In [10]:
a = "Hello world i am python. I am best"
for i in a:
    if i == ".":
        break 
    print(i, end ="")

Hello world i am python

In [11]:
#continue
for i in range(10):
    if i == 5 or i == 7:
        continue
    print(i, end =" ")

0 1 2 3 4 6 8 9

In [12]:
a = "Hello world i am python. I am best  _"
for i in a:
    if i == "." or i == "_":
        continue 
    print(i, end ="")

Hello world i am python I am best

In [1]:
#break while
i = 0
while i <=10:
    if i == 5:
        break
    print(i)
    i = i+1

0
1
2
3
4

In [1]:
#continue while
i = 0
while i <=10:
    if i == 5:
        i = i+1
        continue
    print(i)
    i = i+1

0
1
2
3
4
6
7
8
9
10

In [4]:
for i in range(1,51):
    if i % 5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [5]:
# WAP to create a billing system  (Product,price, qty,total,all_total)

bill = ""
all_total = 0
n = int(input("ENter n = "))
for i in range(n):
    name = input("Enter namne = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter Qty = "))
    total = price * qty
    data = name +" " + str(price) + " " + str(total) + "\n"
    bill = bill + data 
    all_total = all_total + total
print(bill)
print("all_total:",all_total)

ENter n = 2
Enter namne = vd
Enter price = 234
Enter Qty = 13
Enter namne = fd
Enter price = 234
Enter Qty = 12
vd 234 3042
fd 234 2808

all_total: 5850


2## WAP to detect if the given no is prime or composite
n = int(input("Enter n = "))
if n >=2:
    for i in range(2,n//2+1):
        if n%i==0:
            print("the num is composite")
            break
    else:
        print("The num is prime")
else:
    print("The value of n should be n >=2 ")

In [1]:
# WAP to create a billing system  (Product,price, qty,total,all_total)

bill = ""
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")            
    price = int(input("Enter price = "))
    qty = int(input("Enter qty = "))
    total = price *qty
    data = f"{name} {price} {qty} {total}\n"
    bill = bill + data
   
print(bill)

print(bill)
print("all_total:",all_total)

Enter n = 2
Enter name = amit
Enter price = 400
Enter qty = 3
Enter name = apple
Enter price = 543
Enter qty = 3
amit 400 3 1200
apple 543 3 1629

amit 400 3 1200
apple 543 3 1629

all_total: 0