In [16]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\hp\appdata\roaming\python\python310\site-packages (2.2.9)

In [4]:
# import mysql.connector
# #importing database
# database = mysql.connector.connect(
#             host="localhost",
#             user="root",
#             password=""
# )
# db = database.cursor()

# db.execute("CREATE DATABASE pythons")

import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password=""
)
db = database.cursor()

# db.execute("CREATE DATABASE pythons")

In [5]:
import mysql.connector
#importing database
database = mysql.connector.connect(
            host="localhost",
            user="root",
            password="",
            database = "class-8am"
)
db = database.cursor()

In [6]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
           print(x)

(1, 'AMit\r\n', 43, 55, 44, 76, 64, 53, 99, 'A')
(2, 'hari', 543, 43, 44, 45, 55, 98, 34, 'A')
(8, 'Rama', 89, 78, 89, 67, 86, 400, 80, 'A')
(9, 'aman', 77, 66, 99, 76, 86, 404, 81, 'A')
(11, 'sanjay', 55, 66, 87, 567, 76, 851, 170, 'C')

In [7]:
# INSERT INTO student ('id', 'name', 'physics', 'chemistry', 'math', 'english', 'nepali','total','per', 'grade' )

In [8]:
db.execute("SELECT * FROM student WHERE grade = 'A' ")
result =db.fetchall()
for x in result:
    print(x)

(1, 'AMit\r\n', 43, 55, 44, 76, 64, 53, 99, 'A')
(2, 'hari', 543, 43, 44, 45, 55, 98, 34, 'A')
(8, 'Rama', 89, 78, 89, 67, 86, 400, 80, 'A')
(9, 'aman', 77, 66, 99, 76, 86, 404, 81, 'A')

In [9]:
# #added

# sql = '''INSERT INTO `student` (`sn`, `name`, `physics`, `chemistry`, `math`, `english`, `nepali`,
# `total`, `per`, `grade`) 
# VALUES ('8', 'Rama', '89', '78', '89', '67', '86', '400', '80', 'A')'''
# db.execute(sql)
# database.commit()

In [11]:
#Enter new
name = input("ENter name = ")
physics = int(input("Enter physics marks= "))
chemistry = int(input("Enter chemistry marks= "))
math = int(input("Enter math marks= "))
english = int(input("Enter english marks= "))
nepali = int(input("Enter nepali marks= "))

if physics>=32 and chemistry>=32 and math>=32 and english>=32 and nepali>=32:
    total = physics + chemistry + math + english + nepali
    per = total/5
    
    if per > 80:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 45:
        grade = "C"
    elif per >= 32:
        grade = "D"
    else:
        grade = "F"
        
    sql = f'''INSERT INTO `student` (name,physics,chemistry,math,english,nepali,total,per,grade) 
    VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
    db.execute(sql)
    database.commit()
    print = sql  #find error

else:
    print("You are Failed")

ENter name = Anu
Enter physics marks= 99
Enter chemistry marks= 99
Enter math marks= 99
Enter english marks= 99
Enter nepali marks= 99

In [12]:
sql = f"UPDATE student SET grade = 'A+' WHERE name = 'Anu'"
db.execute(sql)
database.commit()

In [17]:
# Delete 
grade = input("Enter grade = ")
physics = input("Enter physics marks = ")
sql = f"DELETE FROM student WHERE grade = '{grade}' and physics={physics }"
db.execute(sql)
database.commit()

Enter grade = B
Enter physics marks = 66

In [13]:
pwd

'C:\\Users\\HP\\Python-class'