In [3]:
# imutable datatype
a = "Hello world I am python"
b = 'Hello world I am python'
c = '''Hello world I am python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [6]:
# + *
a = "Hello "
b = "world"
c = a + b
print(c)

Hello world

In [8]:
a = "HEllo world\n"
print(a*2)

HEllo world
HEllo world

In [9]:
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [14]:
a = "Hello world I am python"
print(a[0])
print(a[0:5])
print(a[0:20:2])

H
Hello
HlowrdIa y

In [19]:
a = "Hello world I am python"
print(a[-1])

n

In [21]:
a = "Hello world I am python"
print(a[-1:-7:-1])

nohtyp

In [22]:
a = "Hello world I am python"   #reverce all
print(a[::-1])

nohtyp ma I dlrow olleH

In [23]:
a = "123456"   #reverce all
print(a[::-1])

654321

In [24]:
a = "Hello world I am python"
b = a[0:5]
print(b)

Hello

In [26]:
a = "Hello world I am python"
l = len(a)  #counting latter
print(l)

23

In [28]:
a = "Hello world I am python"   #for loop
l = len(a)  #counting latter
for i in range(l):
    print(a[i], end = "")

Hello world I am python

In [31]:
a = "Hello world I am python"  #while loop
l = len(a)
i = 0 
while i<l:
    print(a[i], end = "")
    i = i + 1

Hello world I am python

In [37]:
a = "Hello world I am python"   #for loop 
l = len(a)  
for i in range(l):
    if a[i] == " ":  #how many speac find
        print(i)

5
11
13
16

In [1]:
# string formatting
name = "Ram"
age = 24
add = "mirchaiya"

info = "Hello world i am "+name+ "i am from "+ add +"i am "+str(age)
info

'Hello world i am Rami am from mirchaiyai am 24'

In [1]:
# string formatting
name = "Ram"
age = 24
add = "mirchaiya"

info = f"Hello world i am {name} i am from {add} i am {age}"
info

'Hello world i am Ram i am from mirchaiya i am 24'

In [1]:
# WAP to create a billing system  (Product,price, qty,total,all_total)

bill = ""
all_total = 0
n = int(input("ENter n = "))
for i in range(n):
    name = input("Enter namne = ")
    price = int(input("Enter price = "))
    qty = int(input("Enter Qty = "))
    total = price * qty
    data = f"{name} {price} {total} \n"
    bill = bill + data 
    all_total = all_total + total
print(bill)
print("all_total:",all_total)

ENter n = 2
Enter namne = amit
Enter price = 42424
Enter Qty = 23
Enter namne = sfdad
Enter price = 3423
Enter Qty = 325
amit 42424 975752
sfdad 3423 1112475

all_total: 2088227

In [8]:
# search in string
a = "ram shyam hari suraj prajwal nabin"
name = input("Enter name = ")
if name in a:
    print("yes there is ",name)
    print(a.count(name))
else:
    print("no")

Enter name = Ram
no

In [9]:
a = "ram shyam hari suraj prajwal nabin"
print(a.upper())
print(a.lower())

RAM SHYAM HARI SURAJ PRAJWAL NABIN
ram shyam hari suraj prajwal nabin

In [14]:
# search in string
a = "ram shyam hari suraj prajwal nabin".lower()   # .lower() , .upper()  find out small big latter
name = input("Enter name = ").lower()
if name in a:
    print("yes there is ",name)
    print(a.count(name))
else:
    print("no")

Enter name = rAm
yes there is  ram
1

In [3]:
# replace
a = "ram shyam hari suraj prajwal ramesh"
a = a.replace("ram","rama") #whitout space
a

'rama shyam hari suraj prajwal ramaesh'

In [7]:
# replace
a = "ram shyam hari suraj prajwal ramesh"
a = a.replace("ram ","rama ") #whit space
a

'rama shyam hari suraj prajwal ramesh'

In [8]:
# delete
a = "ram shyam hari suraj prajwal ramesh"
a = a.replace("hari ","") #delete
a

'ram shyam suraj prajwal ramesh'